:root {
    --blue: rgb(122, 193, 255);
}

/* Nav */
section.lang-section a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

section.lang-section a:hover {
    cursor: pointer;
}

section.lang-section a.active {
    font-weight: bold;
}

section.lang-section {
    padding-right: 1em;
}
/* Users levels menu */

div#usrLevels div {
    flex-grow: 1;
    text-align: center
}

div#usrLevels div:hover {
    cursor: pointer;
}

div#usrLevels div {
    text-transform: capitalize;
}

div#usrLevels div.selected {
    border-bottom: 3px solid var(--blue);
}

/* Hero */

section.hero {
    background-image: url("../img/Come_Balanceado_Prop1.png");
    background-attachment: fit;
    background-size:cover;
    height: 36vh;
    display: flex;
    flex-direction: column;
    /* padding: 0 1.7em; */
    justify-content: center;
}

section.hero div.content {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 0.1em;
    margin: 0 1.7em;
}

/* Cards */

.post-card {
    max-height: 45vh;
    max-height: 60vh;
    margin-bottom: 2em;
    /* border: none; */
    /* border-radius: 0; */
}

.post-card h3 {
    text-transform: uppercase;
    border-bottom: 2px solid #777777;
    margin-right: 3.5em;
    padding-bottom: 0.3em;
    margin-top: 0.4em;
    font-size: 1.4rem;
}

.post-card img {
    /* max-height: 25vh; */
    object-fit: cover;
}

/* Max of 17 words? maybe */
.post-card p {
    text-align: justify;
}

.custom-card-footer {
    text-align: right;
    margin-top: 1em;
}

.btn-custom-light {
    background-color: rgb(255, 175, 166);
    border: 1px solid rgb(255, 160, 149);
    color: white;
    font-weight: 700;
}

.btn-custom-light:hover {
    background-color: rgb(228, 132, 121);
    border: 1px solid rgb(228, 140, 130);
    color: white;
    font-weight: 700;
}

/* Details page */
section.hero img {
    height: 100%;
    width: 100%;
    background-color:rgb(228, 132, 121);
    object-fit: cover;
}

.post-card video {
    width: 100%;
    margin: 1em 0;
}

.post-card.details {
    max-height: none;
    margin-bottom: 0
}

.post-card.details h3 {
    margin-bottom: 1.4em;
}

/* comments */

form.message {
    margin-left: 1em;
}

div.comment img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 1em;
}

div.comment p {
    margin: auto;
}

/* Footer */

.custom-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 6.5rem; 
}

footer {
    margin-top: 3em;
    position: absolute;
    bottom: -4rem;
    width: 100%;
}

footer .footer-links a {
    margin-top: 0.2em;
}

/* Breadcump */
ol.breadcrumb a {
    text-decoration: none;
}

/* 
 *   --------- DESKTOP ---------
 */

#left {
    display: none;
}

@media (min-width: 860px) {



#left {
    display: block;
}

    .main-content {
        margin: 0 10rem;
    }

    section.hero {
        margin-bottom: 0.1em;
        height: 60vh;
    }

    section.hero div.content {
        margin: 0 15em;
        padding: 3em;
    }

    section.hero h3 {
        margin-bottom: 1em;
    }

    .post-card {
        display: flex;
        flex-direction: row;
        min-height: 30vh;
        max-height: none;
        margin-bottom: 4em;
    }

    .post-card h3 {
        margin-bottom: 1em;
    }

    .post-card .image-container{
        width: 70%;
    }

    .post-card img {
        width: 100%;
        height: 100%;
    }

    .post-card-alt {
        flex-direction: row-reverse;
    }

    .post-card-alt h3{
        text-align: right;
        margin-right: 0;
        margin-left: 3em;
    }

    .container section.hero {
        margin-bottom: 2em;
        max-height: 40vh;
    }

    .post-card.details {
        flex-direction: column;
    }

    .post-card.details video {
        max-width: 70%;
        margin: 1.3em auto;
    }

    footer .footer-links {
        justify-content: space-around;
        margin-bottom: 1em;
    }

    footer h1 {
        font-size: 1.5rem;
        padding-top: 0.8em;
    }

    div.comment {
        padding: em;
    }

    .card.sub-post {
        flex-direction: column;
    }

    .card.sub-post h3 {
        margin-right: 0;
        font-size: 1.2rem;
    }

    .card.sub-post img {
        max-width: 100%;
        max-height: 20vh;
    }

    .card-body.p-md-5 {
        padding: 0;
    }
}

/* Navigation links */

.nav-item .nav-link {
    text-transform: uppercase;
}